/*============== Styles for Home Page ==============*/

header {
	background-image: url("../imgs/banner-1-home-1080x432.png");
	background-repeat: no-repeat;
	height: 432px;
}

#banner-home {
	font-family: Roboto, sans-serif;
	margin-top: 105px;
}

#banner-home h3,
#banner-home h2 {
	color: #FFFFFF;
}

#banner-home h3 {
	margin-left: 230px;
	margin-bottom: 0;
}

#banner-home h2 {
	margin-left: 355px;
	margin-top: 5px;
	font-size: 36px;
}

#home {
	font-family: Roboto, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	padding: 0 24px 24px 24px;
	margin-bottom: 48px;
}

#home #welcome {
	margin: 24px 0px 40px 0px;
}

#home #welcome h2 {
	margin: 0px;
	margin-left: -15px; /* CAMBIAR ESTO*/
}

#home h3 {
	margin-bottom: 24px;
}

#home p {
	text-align: justify;
}

#home ul li {
	margin: 5px 0;
}

#home #example-img {
	margin: 24px 0;
}

#home #top-energy-img {
	margin: 40px 0;
}

/**************** Media Queries ****************/



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){

	header {
	}

	#banner-home h3 {
		margin-left: 90px;
		margin-bottom: 0;
	}

	#banner-home h2 {
		margin-left: 225px;
		margin-top: 5px;
		font-size: 36px;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px){

	header {
	}

	#banner-home h3 {
		margin-bottom: 0;
		margin: auto;
		text-align: center;
	}

	#banner-home h2 {
		margin: auto;
		text-align: center;
		margin-top: 5px;
		font-size: 36px;
	}
}

@media (max-width: 537px){

	#banner-home h3 {
		font-size: 14px;
	}

	#banner-home h2 {
		font-size: 20px;
	}
}