/******************** Fonts ********************/

 @font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); }
 @font-face { font-family: Agency; src: url('../fonts/AgencyFB-regular.ttf');}

/**************** Author Styles ****************/

body {
	background-color: #131516;
}

p {
	margin: 0;
}

/*============== HEADER ==============*/

.navbar-custom{
	font-family: Agency, sans-serif;
	background-color: transparent;
	font-size: 18px;
	border: none;
	margin: 24px 0;
}

.navbar-collapse ul {
	margin-top: 26px;
}

.navbar-brand {
	height: 75px;
}

.fa-bars,
.nav>li>a {
	color: #FFFFFF;
	padding: 2px 8px;
	margin-left: 4px;
	height: 24px; 
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: #EC0928;
	border-radius: 5px;
	outline: none;
}

.nav>.active>a {
	background-color: #EC0928;
	border-radius: 5px;
	outline: none;
}

/*============== FOOTER ==============*/

footer {
}

/**************** Media Queries ****************/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px){

	.navbar-header button {
		margin-top: 15px;
	}

	.navbar-collapse ul {
		margin-top: 5px;
	}

	.nav>li>a {
		margin-bottom: 2px;
	}

}

@media (max-width: 415px){

	.navbar-brand img {
		width: 175px;
	}

	.navbar-header button {
		margin-top: 7px;
	}
}