/******************** Fonts ********************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@font-face {
  font-family: Agency;
  src: url("../fonts/AgencyFB-regular.ttf"); }
/**************** Author Styles ****************/
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; }

p {
  margin: 0px;
  font-size: 18px;
  text-align: justify; }

/*============== HEADER ==============*/
header {
  background-image: url("../imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  margin-bottom: 194px; }
  header #logo {
    margin-left: -20px;
    margin-top: 48px;
    margin-bottom: 24px; }
  @media (min-width: 992px) and (max-width: 1200px) {
    header {
      margin-bottom: 128px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header {
      margin-bottom: 46px; } }

.navbar-custom {
  background-color: transparent;
  font-size: 18px;
  border: none;
  margin: 0px; }
  .navbar-custom .navbar-brand, .navbar-custom .navbar-brand:hover {
    color: #FFFFFF; }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar-custom .navbar-brand, .navbar-custom .navbar-brand:hover {
        font-size: 15px; } }
    @media (max-width: 574px) {
      .navbar-custom .navbar-brand, .navbar-custom .navbar-brand:hover {
        font-size: 14px; } }
  .navbar-custom .fa-bars, .navbar-custom .navbar-collapse .nav > li > a, .navbar-custom #section2 button, #section2 .navbar-custom button {
    color: #FFFFFF;
    padding: 2px 8px;
    margin-left: 2px;
    margin-right: 2px;
    height: 24px; }
  .navbar-custom .navbar-collapse {
    font-family: Agency, sans-serif; }
    .navbar-custom .navbar-collapse .nav {
      padding: 15px; }
      .navbar-custom .navbar-collapse .nav .active > a, .navbar-custom .navbar-collapse .nav footer .active > a:focus,
      .navbar-custom .navbar-collapse .nav a:hover,
      .navbar-custom .navbar-collapse .nav a:focus {
        background-color: #EC0928;
        border-radius: 5px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar-custom .navbar-collapse {
        font-size: 13px; } }

.carousel img {
  margin: 0px;
  width: 100%; }

/*=============== BODY ===============*/
#section1, #section2, #section3 {
  padding-top: 48px; }
  #section1 .col, #section2 .col, #section3 .col {
    margin-bottom: 48px; }

#section2 {
  background-color: #006680;
  color: #FFFFFF; }

/*============== FOOTER ==============*/
footer {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #333333;
  background-color: #A7A9AC;
  padding: 24px 0px 48px 0px; }
  footer p {
    text-align: inherit; }
  footer a, footer a:focus {
    text-decoration: none;
    color: #333333;
    padding: 0px 5px; }
    footer a:hover {
      color: #FFFFFF;
      text-decoration: none; }
  @media (max-width: 393px) {
    footer a, footer a:focus {
      display: block; } }

/* ======= MEDIA QUERIES ========= */
@media (max-width: 768px) {
  header {
    margin-bottom: 35px; }

  .navbar-header button {
    margin: 4px; }

  footer .container {
    padding-left: 0px;
    padding-right: 0px; } }
@media (max-width: 415px) {
  .navbar-header button {
    margin-top: 7px; }
  .navbar-header img {
    width: 175px; } }
/*============== Styles for Contact Page ==============*/
#section1 h2 {
  margin-bottom: 48px; }
#section1 h2,
#section1 strong {
  color: #006680; }
#section1 #map-canvas {
  height: 300px; }

#section2 {
  background-color: #006680;
  color: #FFFFFF; }
  #section2 label {
    font-weight: 500; }
  #section2 .form-control {
    border: none;
    border-radius: 0px; }
  #section2 button {
    font-family: Agency, sans-serif;
    background-color: #EC0928;
    border-radius: 5px;
    border: none;
    font-size: 18px; }

/*# sourceMappingURL=contact.css.map */
