@import 'partials/base';

/*============== Styles for About Page ==============*/

#section1 {
	font-family: Roboto, sans-serif;

	h2 {
		color: $main-blue;
		margin-bottom: 48px;
	}
}

#section2 {
	background-color: $main-blue;
	color: $contrast-white;

	img {
		height: 100px;
		margin-bottom: 24px;
	}

	q {
		font-size: 18px;
	}
}

#section3 {
	h2 {
		color: $main-blue;
		margin-top: 0px;
		margin-bottom: 48px;
	}
}