@import 'partials/base';

/*============== Styles for Contact Page ==============*/

#section1 {
	h2 {
		margin-bottom: 48px;
	}

	h2,
	strong {
		color: $main-blue;
	}

	#map-canvas {
		height: 300px;
	}
}

#section2 {
	background-color: $main-blue;
	color: $contrast-white;

	label {
		font-weight: 500;
	}

	.form-control {
		border: none;
		border-radius: 0px;
	}

	button {
		@extend .fa-bars;
		font-family: Agency, sans-serif;
		background-color: $active-pill-color;
		border-radius: 5px;
		border: none;
		font-size: 18px;
	}
}