@import 'partials/base';

/*============== Styles for Home Page ==============*/

#section1 {
	img {
		margin-bottom: 24px;
	}

	h2 {
		margin: 24px auto;
		color: $main-blue;
	}

	h3 {
		font-weight: 100;
		margin-top: 24px;
		margin-bottom: 0px;
		line-height: 35px;
	}
}

#section2 {
	img {
		margin-bottom: 48px;
	}
}

#section3 {
	img {
		margin: auto;
	}

	a {
		font-size: 18px;
		color: $link-green;
	}
}