@import 'partials/base';

/*============== Styles for Home Page ==============*/

#section1 {
	font-family: Roboto, sans-serif;
	padding: 24px 0px;

	img {
		margin: 24px auto;
	}

	h2 {
		margin: 24px auto;
		color: $main-blue;
	}

	h3 {
		font-family: Roboto, sans-serif;
		font-weight: 100;
		margin-top: 0px;
		margin-bottom: 48px;
		line-height: 35px;
	}
}

#section2 {
	padding-top: 48px;
	background-color: $main-blue;
	color: $contrast-white;
	font-family: Roboto, sans-serif;

	.col-sm-6 {
		margin-bottom: 48px;
	}

	img {
		margin-bottom: 48px;
	}

	p {
		text-align: justify;
	}
}

#section3 {
	padding-top: 72px;
	font-family: Roboto, sans-serif;

	.col-sm-6 {
		margin-bottom: 72px;
	}

	img {
		margin: auto;
	}

	a {
		font-family: Agency, sans-serif;
		font-weight: 400;
		border-radius: 5px;
		background-color: $main-blue;
		padding: 2px 12px;
		color: $contrast-white;
	}
}

#section1,
#section3,
#section2 .container {
	padding-left: 63px;
	padding-right: 63px;
}