@import 'partials/base';

/*============== Styles for About Page ==============*/

#section1 {
	h2 {
		color: $main-blue;
	}
}

#section2 {
	background-color: $main-blue;
	color: $contrast-white;

	h2 {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	a {
		display: inline;
		color: $link-green;
		font-size: 18px;
		text-decoration: underline
	}
}

#section3 {

	.col-sm-12 {
		margin-bottom: 0px;
	}

	h2 {
		margin-bottom: 24px;
	}

	h5,
	ul {
		font-size: 18px;

		strong {
			color: $main-blue;
		}
	}
}