/*
 * Globals
 */

body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
* Navbar
*/

.navbar-brand {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: -1px;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 500;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a {
  border-bottom: 3px solid;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav>li:first-child>a, .navbar-default .navbar-nav>li:first-child>a:hover, .navbar-default .navbar-nav>li:first-child>a:focus {
  color: #e74c3c;
}

.navbar-default .navbar-nav>li:nth-child(2)>a, .navbar-default .navbar-nav>li:nth-child(2)>a:hover, .navbar-default .navbar-nav>li:nth-child(2)>a:focus {
  color: #f1c40f;
}

.navbar-default .navbar-nav>li:nth-child(3)>a, .navbar-default .navbar-nav>li:nth-child(3)>a:hover, .navbar-default .navbar-nav>li:nth-child(3)>a:focus {
  color: #2ecc71;
}

.navbar-default .navbar-nav>li:nth-child(4)>a, .navbar-default .navbar-nav>li:nth-child(4)>a:hover, .navbar-default .navbar-nav>li:nth-child(4)>a:focus {
  color: #3498db;
}

/*
* Blog page
*/
#blog-page {
  padding-top: 30px;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.blog-main img {
  max-width: 100%;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.blog-post-title a {
  color: #555;
}

.blog-post-title a:hover {
  color: #428bca;
  text-decoration: none;
}

.blog-post-meta {
  margin-bottom: 20px;
  letter-spacing: .04em;
  color: #888;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

#img-wrapper {
  text-align: center;
}

.blog-post img {
  width: 100%;
}

h2 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 400;
  color: #555;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-main img {
  margin-bottom: 30px;
  max-width: 100%;
}

/* Posts box */
#posts-box {
  padding: 0px;
  border: 3px solid #f5f5f5;
  border-top: 0px;
  margin-top: 20px;
}

#posts-box h4 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px;
  background-color: #f5f5f5;
  color: #555;
  margin: 0px;
}

#posts-box ol {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

#posts-box ol li {
  font-size: 16px;
  padding: 12px;  
  border-bottom: 3px solid #f5f5f5;
}

#posts-box ol li:last-child {
  border-bottom: none;
}

/* About */
#about img {
  border-radius: 100px;
  margin-right: 30px;
  width: 200px;
  float: left;
}

#about h1 {
  color: #e67e22;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about p {
  clear: both;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

#subscribe-box h4{
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 500;
  text-align: center;
}

#subscribe-box p {
  text-rendering: optimizeLegibility;
}

#subscribe-box .btn-warning {
  background-color: #e67e22;
  border-color: #e67e22;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

/* Share Buttons */

#share-buttons p {
  text-align: center;
}

#share-buttons img {
  width: 50px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  margin-bottom: 0px;
  vertical-align: middle;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.sticky-footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
}


/*
 *  Media queries
 */

@media (max-width: 991px) {
  #subscribe-box h4 {
    font-size: 14px;
  }
}